@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Permanent+Marker&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    background-color: #a7bdb9;
}
/* ******************************NAVBAR***************************** */

nav {
    overflow: hidden;
    background-color: #a7bdb9;
    position: fixed;
    width: 100%;   
}

header li {
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    float: left;
}

/* *********************IMAGE PRINCIPALE************************** */

#imagePrincipale {
    padding-top: 60px;
    background: url(media/image-principale.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 40px;
    text-shadow: 1px 3px 2px black;
}

#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #a7bdb9;
    box-shadow: 1px 3px 2px black;
}

h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}

/* *********************** PRESENTATION ***************************** */

#presentation {
    background-color: #a7bdb9;
    padding: 10px 0px 100px 0px;
}

#textIntro {
    padding: 0px 20%;
}

#textPresentation {
    font-size: 1.8em;
}

#prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
    background-color: #a7bdb9;
}

.imagesPrestations h4 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}

.imagesPrestations img {
    border-radius: 10px;
    box-shadow: 3px 4px 5px 4px black;
}

.imagesPrestations img:hover {
    opacity: 0.5;
    transform scale(1.05);
    transition: 0.6s ease-in-out;
}

#musiciens1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 30px 10%;
    background-color: #a7bdb9;
}

#musiciens2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 30px 10%;
    background-color: #a7bdb9;
}


.imagesMusiciens1 img {
    border-radius: 10px;
    box-shadow: 3px 4px 5px 4px black;
}

.imagesMusiciens1 h4 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 1.2em;
    margin: 15px;
    font-weight: 300;
}

.imagesMusiciens2 img {
    border-radius: 10px;
    box-shadow: 3px 4px 5px 4px black;
}

.imagesMusiciens2 h4 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 1.2em;
    margin: 15px;
    font-weight: 300;
}

/* ************************ YOUTUBE ***************************** */

#youtube {
    background-color: #a7bdb9;
}

iframe {
    display: block;
    margin: auto;
}

/* ************************ FOOTER ****************************** */

footer {
    background-color: #a7bdb9;
    padding: 20px 0 10px 0;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 900px;
}

input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    border-radius: 8px;
}

textarea {
    height: 120px;
}

button {
    font-size: 1.5em;
    background-color: antiquewhite;
}

button:hover {
    background-color: chocolate;
    color: antiquewhite;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: antiquewhite;
    margin: 60px auto;
}

#copyrightIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

#copyright {
    width: 50%;
    text-align: left;
    color: black;
}

#icons {
    width: 50%;
    text-align: right;
}

#icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.8em;
}

#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}

/* ********************** IMAGE PRINCIPALE "ECOUTER" ******************* */

#imageEcouter {
    padding-top: 60px;
    background: url(media/imagePrincipaleEcouter.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

/* ********************** IMAGE PRINCIPALE "Concerts" ******************* */

#imageConcerts {
    padding-top: 60px;
    background: url(media/image_concerts.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

/* ********************** Page Ecouter******************* */

#prestationsEcouter {
    background-color: #a7bdb9;
    padding: 20px 0 10px 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

h4 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}

/* ********************** Page Concerts******************* */

#calendrierConcerts {
    background-color: #a7bdb9;
    padding: 20px 0 10px 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em; 
}
